/* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.swp{
  position: relative;  
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Centrado horizontal */
}

.swiper{
  width: 950px;
}

.card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #D8BD8C;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.swp .card .image1{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #D8BD8C;
}

.swp .card .image1 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card .media-icons{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i{
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover{
  opacity: 1;
}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #D8BD8C;
} 

.name-profession .name{
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession{
  font-size:15px;
  font-weight: 500;
}

.card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: #D8BD8C;
}

.card .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button{
  background: #D8BD8C;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover{
  background: #6616d0;
}

.swiper-pagination{
  position: absolute;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #D8BD8C;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #D8BD8C;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #D8BD8C;
}


.containxr{
  max-width: 1200px;
  margin:100px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap:20px;
}

.containxr .main-video-containxr{
  flex:1 1 700px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  background-color: #141514;
  padding:15px;
}

.containxr .main-video-containxr .main-video{
  margin-bottom: 7px;
  border-radius: 5px;
  width: 100%;
}

.containxr .main-video-containxr .main-vid-title{
  font-size: 20px;
  color:#E3E0D2;
}

.containxr .video-list-containxr{
  flex:1 1 350px;
  height: 485px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  background-color: #141514;
  padding:15px;
}

.containxr .video-list-containxr::-webkit-scrollbar{
  width: 10px;
}

.containxr .video-list-containxr::-webkit-scrollbar-track{
  background-color: #141514;
  border-radius: 5px;
}

.containxr .video-list-containxr::-webkit-scrollbar-thumb{
  background-color: #E3E0D2;
  border-radius: 5px;
}

.containxr .video-list-containxr .list{
  display: flex;
  align-items: center;
  gap:15px;
  padding:10px;
  background-color: #313131;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.containxr .video-list-containxr .list:last-child{
  margin-bottom: 0;
}

.containxr .video-list-containxr .list.active{
  background-color: #E3E0D2;
}

.containxr .video-list-containxr .list.active .list-title{
  color:#141514;
}

.containxr .video-list-containxr .list .list-video{
  width: 100px;
  border-radius: 5px;
}

.containxr .video-list-containxr .list .list-title{
  font-size: 17px;
  color:#E3E0D2;
}















@media (max-width:1200px){

  .containxr{
     margin:0;
  }

}

@media (max-width:450px){

  .containxr .main-video-containxr .main-vid-title{
     font-size: 15px;
     text-align: center;
  }

  .containxr .video-list-containxr .list{
     flex-flow: column;
     gap:10px;
  }

  .containxr .video-list-containxr .list .list-video{
     width: 100%;
  }

  .containxr .video-list-containxr .list .list-title{
     font-size: 15px;
     text-align: center;
  }

}